h1 {
    font-family: 'Sigmar One';
    color: white;
    text-align: center;
    font-size: 48px;
    transition-duration: 2.0s;
} 

h1:hover {
    font-size: 56px;
    transition-duration: 2.0s;
}

h2 {
    font-family: 'Sigmar One';
    color: white;
    text-align: center;
    font-size: 32px;
} 

footer {
    font-family: 'Sigmar One';
    font-size: 18;
    color: white;
    width:100%;
    height:30px;
    position:fixed;
    bottom:0;
    left:0;
    text-align: center;
    transition-duration: 2.0s;
    background-color: black;
    line-height: 30px; 
    vertical-align: middle;
}

footer:hover {
    font-size: 24px;
    transition-duration: 2.0s;
    bottom:6;
}

.button {
    font-family: 'Sigmar One';
    background-color: #228B22; /* Green */
    border: 2px solid white;
    border-radius: 8px;
    height: 45px;
    width: 135px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 1.0s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.48),0 17px 50px 0 rgba(0,0,0,0.19);
    vertical-align: middle;
    line-height: 27px
}

.button:hover {
    background-color: white;
    color: #228B22;
    transition-duration: 2.0s;
}

div.navbar > form {
    display: inline-block;
}
.buttonSmall {
    font-family: 'Sigmar One';
    background-color: #228B22; /* Green */
    border: 2px solid white;
    border-radius: 8px;
    height: 25px;
    width: 80px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 1.0s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.48),0 17px 50px 0 rgba(0,0,0,0.19);
    vertical-align: middle;
    line-height: 15px
}

.buttonSmall:hover {
    background-color: white;
    color: #228B22;
    transition-duration: .5s;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #87CEFA;
    padding: 10px;
}

.mainbox {
    font-family: 'Sigmar One';
    color: #228B22; 
    font-style: bold;
    background-color: white;
    height: 60px;
    width: 900px;
    border: 2px solid #228B22;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 1.0s;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin-bottom: 20px;
}

.mainbox:hover {
    border: 6px solid #228B22;
}

body {
    background-image: url("/img/WDF_795640.jpg");
}


@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.navbar {
    padding-right: 140px;
    float: right;
    padding-top: 10px;
    vertical-align: text-top;
}

.navblock {
    background-color: rgba(183, 37, 37, 0.46);
    height: 50px;
    width: 100%;
    margin-top: 10px;
    position: fixed;
}

.td_size {    
  width: 200px; 
  height: 50px;
  max-width: 400px;
  min-width: 2px; 
  max-height: 50px; 
  min-height: 50px;
  overflow: hidden;
  text-align: center;
}

th, td {
    padding: 15px;
}

.transparent {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  border: none;
  border-radius: 8px;
  border-radius:10px;
  margin-bottom: 60px;
}