
<body>
	<center>
		<form type = "input" action = "/urls" method = "post">
			<input type ="text" name ="long_url" placeholder = "Paste your long URL here" onfocus="this.placeholder = ''"onblur="this.placeholder = 'Paste your long URL here'">
			
			<br><br>
	
			<input type ="submit" name ="submit_long_url" class = "button" >
		</form>
	</center>
</body>
