<center>
		<form id='urls_form' type = "input" type = "text" action = "/urls" method = "post">
		<div id='urls'>
			<input type ="text" id = 'long_url' class = "mainbox" name ="long_url" placeholder = "Paste your long URL here" onfocus="this.placeholder = ''"onblur="this.placeholder = 'Paste your long URL here'">
		</div>
		
		<div>
		<input type ="submit" id="submit_button" name ="submit_long_url" class="button" value="SUBMIT">
		</div>
	</form>
</center>

