<html>
	<head>
		<title>SHORT!</title>
		<br><br><br><br>
		<h1>SHORT!</h1>
		<br><br><br><br>

		<link href="css/application.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<%= yield %>
		<footer> © Diederik van der Hoek | djpvanderhoek@gmail.com </footer>
	</body>
	
</html>